body {
    margin: 0;
    padding: 0;
    background-color: #28273b;
    color: white;
    margin: 20px;
    font-family: "Roboto", sans-serif;
}

.container {
    h1 {
        text-align: center;
        padding: 10px;
        border-bottom: #3c3a59 2px solid;
        margin-bottom: 50px;
    }
}

.hero-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1280px;
}
